<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novas Palavras</title>
    <link rel="stylesheet" href="../public/forca.css">
    <script src="../Controller/inserirPalavras.js"></script>
</head>

<body>
    <section id="NovasPalavras">    
        <form id="formulario">
            <h4 id="tituloInserirPalavra">CADASTRAR PALAVRA</h4>
            <div id="messagemErro"></div>
            <label for="palavra">Palavra:</label>
            <input type="text" id="palavra" autofocus name="palavra" class="palavra">
            <label for="dica">Dica:</label>
            <input type="text" id="dica" name="dica" class="palavra">
            <div id="botoes">
                <input type="submit" value="Enviar" id="enviar">
                <input type="submit" value="Voltar" id="voltar">
            </div>

        </form>
    </section>

</body>

</html>